.grid-container {
    display: block;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(2.0*var(--min-width));
    min-width: var(--min-width);
    margin-top: 10px;
}
  
.stage1-icon, .stage2-icon, .stage3-icon {
    display: block;
    background-color: rgb(200, 25, 25);
    padding: 10px;
    color: white;
    cursor: pointer;
    width: auto;
    border-top: rgba(0, 0, 0, 0.5) 4px solid;
}

.stage1-icon b, .stage2-icon b, .stage3-icon b {
    margin-left: 10px; /* Add some space between the icon and the text */
}

.stage1-icon i, .stage2-icon i, .stage3-icon i {
    font-size: 1.2em;
}

.stage1-container, .stage1-deliver-container, .stage2-container, .stage2-deliver-container, .stage3-container, .stage3-deliver-container {
    display: block;
}

.stage1-container, .stage2-container, .stage3-container {
    background-color: rgb(240, 240, 240);
}

.stage1-container canvas, .stage2-container canvas, .stage3-container canvas {
    width: 100%;
    height: 100%;
}

.stage1-deliver-container, .stage2-deliver-container, .stage3-deliver-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    background-color: rgb(200, 25, 25);
    height: auto;
}

.stage1-deliver-container a, .stage2-deliver-container a, .stage3-deliver-container a{
    color: white;
    padding-bottom: 0px;
}

.stage1-deliver-container div > a, .stage2-deliver-container div > a, .stage3-deliver-container div > a{
    font-weight: bold;
}

.stage1-deliver-container i, .stage2-deliver-container i, .stage3-deliver-container i{
    font-size: 1.2em;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.stage1-deliver-container ul, .stage2-deliver-container ul, .stage3-deliver-container ul {
    margin-top: 0px;
    padding-left: 60px;
}