:root {
  --tue-red: rgb(200,25,25);
  --tue-red-opaque: rgba(200,25,25,0.3);
}

html {
  font-family: Verdana, Geneva, sans-serif;
  counter-reset: H2;
}

body {
  max-width: 800px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;

  counter-reset: figures;
}

/*---------------------------------*/
/* HEADERS                         */
/*---------------------------------*/

h1, h2, h3, h4 {
  margin-top: 40px;
}

h2:before {
  content: counter(H2) ". ";
  counter-increment: H2;
}

h2 {
  counter-reset: H3;
}

h3:before {
  content: counter(H2) "." counter(H3) " ";
  counter-increment:H3;
}

/*
h3 {
  counter-reset: H4;
}

h4:before {
  content: counter(H2) "." counter(H3) "." counter(H4) " ";
  counter-increment:H4;
}
*/

em {
  color: var(--tue-red);
  font-weight: italic;
}

/*---------------------------------*/
/* BLOCKS                          */
/*---------------------------------*/

/* General block layout */
div.block {
  margin: 10px 0px;
  border: solid 4px var(--tue-red);
  padding:0px 10px 0px 10px;
}

div.block::before {
  background-color: var(--tue-red);
  color: white;
  padding:0px 20px 4px 16px;
  margin-left: -10px;
  font-variant: small-caps;
  border: none;
  display: inline-block;
}

/*Literature*/
div.literature::before {
  content: "Background reading";
}

/*Inspirational reads*/
div.inspiration::before {
  content: "Inspirational reads";
}

/*Challenge block*/
div.challenge::before {
  content: "Challenge";
}

/*Project goals block*/
div.projectgoals::before {
  content: "Project goal";
}

/*Learning goals block*/
div.learninggoals::before {
  content: "Learning goals";
}

/*Track objective block*/
div.trackobjectives::before {
  content: "Track objectives";
}

/*Tasks block*/
div.objective::before {
  content: "tasks";
}

/*Questions block*/
div.questions::before {
  content: "questions to keep in mind";
}

/*Deliverables*/
div.deliverable::before {
  content: "deliverables";
}

/*Agenda*/
div.agenda::before {
  content: "agenda";
}

/*References*/
div.references::before {
  content: "References";
}

/*---------------------------------*/
/* TABLES                          */
/*---------------------------------*/

/*General*/
table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 2px solid var(--tue-red);
}


table th {
  background-color: var(--tue-red-opaque);
}

table.TabB th,table.TabB td{
  border: 2px solid rgba(25,200,25,1)
}

table.TabB th{
  background-color: rgba(25,200,25,0.3)
}

table.TabC th,table.TabC td{
  border: 2px solid rgba(25,25,200,1)
}

table.TabC th{
  background-color: rgba(25,25,200,0.3)
}

table caption {
  caption-side: bottom;
  color: var(--tue-red);
  font-variant: small-caps;
  margin-top: 10px;
  text-align: left;
}

/*Cell shading (grey)*/
td.bgd, tr.bgd {
  background: rgba(0,0,0,0.1);
}

/*Inside a .block*/

/*---------------------------------*/
/* OTHERS                          */
/*---------------------------------*/

figure img, figure figcaption {
  display: block;
  margin: auto;
  max-width: 1000px;
}

figure figcaption {
  color: var(--tue-red);
  font-variant: small-caps;
  margin-top: 10px;
}

figure figcaption:before {
  content: 'Fig. ' counter(figures) ':';
  counter-increment: figures;
}

div.toc {
  background-color: var(--tue-red-opaque);
  border: 2px solid var(--tue-red);
  display: inline-block;
  padding-right: 20px;
}

div.toc ol { counter-reset: item }
div.toc ol>li { display: block }
div.toc ol>li:before { content: counters(item, ".") " "; counter-increment: item }

.svg	{
	width: 100%;
}

iframe, #map {
  display: block;
  margin: 0 auto;
}

/*---------------------------------*/
/* SLIDESHOW                       */
/*---------------------------------*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.infographicslide .toolboxslide {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.infographicdot, .toolboxdot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .infographicdot:hover , .toolboxdot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}