:root {
  --tue-red: rgb(200,25,25);
  --tue-red-opaque: rgba(200,25,25,0.3);
  --max-width: 1100px;
  --body-padding: 10px;
}

html {
  font-family: Verdana, Geneva, sans-serif;
  counter-reset: H2;
}

body {
  max-width: var(--max-width);
  margin: auto;
  margin-top: 70px;
  padding-left: var(--body-padding);
  padding-right: var(--body-padding);

  counter-reset: figures;
}

/*---------------------------------*/
/* HEADERS                         */
/*---------------------------------*/

h1, h2, h3, h4 {
  margin-top: 40px;
}

h2:before {
  content: counter(H2) ". ";
  counter-increment: H2;
}

h2 {
  counter-reset: H3;
}

h3:before {
  content: counter(H2) "." counter(H3) " ";
  counter-increment:H3;
}

/*
h3 {
  counter-reset: H4;
}

h4:before {
  content: counter(H2) "." counter(H3) "." counter(H4) " ";
  counter-increment:H4;
}
*/

em {
  color: var(--tue-red);
  font-weight: italic;
}

/*---------------------------------*/
/* BLOCKS                          */
/*---------------------------------*/

/* General block layout */
div.block {
  margin: 10px 0px;
  border: solid 4px var(--tue-red);
  padding:0px 10px 0px 10px;
}

div.block::before {
  background-color: var(--tue-red);
  color: white;
  padding:0px 20px 4px 16px;
  margin-left: -10px;
  font-variant: small-caps;
  border: none;
  display: inline-block;
}

/*Literature*/
div.literature::before {
  content: "Background reading";
}

/*Inspirational reads*/
div.inspiration::before {
  content: "Inspirational reads";
}

/*Challenge block*/
div.challenge::before {
  content: "Challenge";
}

/*Project goals block*/
div.projectgoals::before {
  content: "Project goal";
}

/*Learning goals block*/
div.learninggoals::before {
  content: "Learning goals";
}

/*Track objective block*/
div.trackobjectives::before {
  content: "Track objectives";
}

/*Tasks block*/
div.objective::before {
  content: "tasks";
}

/*Questions block*/
div.questions::before {
  content: "questions to keep in mind";
}

/*Deliverables*/
div.deliverable::before {
  content: "deliverables";
}

/*Agenda*/
div.agenda::before {
  content: "agenda";
}

/*References*/
div.references::before {
  content: "References";
}

/*---------------------------------*/
/* TABLES                          */
/*---------------------------------*/

/*General*/
table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 2px solid var(--tue-red);
}


table th {
  background-color: var(--tue-red-opaque);
}

table.TabB th,table.TabB td{
  border: 2px solid rgba(25,200,25,1)
}

table.TabB th{
  background-color: rgba(25,200,25,0.3)
}

table.TabC th,table.TabC td{
  border: 2px solid rgba(25,25,200,1)
}

table.TabC th{
  background-color: rgba(25,25,200,0.3)
}

table caption {
  caption-side: bottom;
  color: var(--tue-red);
  font-variant: small-caps;
  margin-top: 10px;
  text-align: left;
}

/*Cell shading (grey)*/
td.bgd, tr.bgd {
  background: rgba(0,0,0,0.1);
}

/*Inside a .block*/

/*---------------------------------*/
/* OTHERS                          */
/*---------------------------------*/

figure img, figure figcaption {
  display: block;
  margin: auto;
  max-width: 1000px;
}

figure figcaption {
  color: var(--tue-red);
  font-variant: small-caps;
  margin-top: 10px;
}

figure figcaption:before {
  content: 'Fig. ' counter(figures) ':';
  counter-increment: figures;
}

div.toc {
  background-color: var(--tue-red-opaque);
  border: 2px solid var(--tue-red);
  display: inline-block;
  padding-right: 20px;
}

div.toc ol { counter-reset: item }
div.toc ol>li { display: block }
div.toc ol>li:before { content: counters(item, ".") " "; counter-increment: item }

.svg	{
	width: 100%;
}

iframe, #map {
  display: block;
  margin: 0 auto;
}

/*---------------------------------*/
/* SLIDESHOW                       */
/*---------------------------------*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.infographicslide .toolboxslide {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
}

/* The dots/bullets/indicators */
.infographicdot, .toolboxdot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .infographicdot:hover , .toolboxdot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*---------------------------------*/
/* NAVIGATION MENU                 */
/*---------------------------------*/

.toggle, [id^=drop] {
 display: none;
}

nav {
  background-color: var(--tue-red);
  position: fixed;
  z-index: 100000;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin-left: calc(-1*var(--body-padding));
}

nav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: var(--tue-red);
}

/* Navigation links */
nav a {
  display: block;
  padding: 10px 16px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

nav a:hover, nav ul li ul li:hover { background-color: black; }

nav ul ul {
  display: none;
  position: absolute;
  top: 40px;
}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

nav a:not(only-child):after { content: ' ▸'; }
nav a:hover:not(only-child):after { content: ' ▾'; }
nav a:only-child:after, nav a:hover:only-child:after { content: ''; }

/* Hamburger mode */
@media all and (max-width : 768px) {

  .toggle + a,
  .menu { display: none; }

  .toggle {
    display: block;
    background-color: var(--tue-red);
    padding: 10px 16px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border: none;
    width: 100%;
  }

  .hamburger {
    font-size: 24px;
    padding: 5px 16px;
  }

  .toggle:hover { 
    background-color: black;
    width: 100%; }

  [id^=drop]:checked ~ ul { display: block; }
  [id^=drop]:checked ~ .toggle { background-color: dimgray; }
  [id^=drop]:checked ~ .toggle:hover { background-color: black; }
  [id^=drop]:checked ~ .toggle:after { content: ' ▾'; }
  [id^=drop]:not(:checked) ~ .toggle:after { content: ' ▸'; }

  nav ul {
    width: 100%;
  }

  nav ul li {
    display: block;
    width: 100%;
  }

  nav ul ul .toggle,
  nav ul ul a { padding: 10px 32px; }

  nav a:hover { 
    background-color: black;
    width: 100%;
  }

  nav ul li ul li .toggle,
  nav ul ul a { background-color: dimgray; }

  nav ul ul {
    float: none;
    position: static;
    color: white;
  }

  nav ul li:hover > ul { display: none; }

  nav ul ul li {
    display: block;
    width: 100%;
  }
}